@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TESTE DESENVOLVEDOR C# - Grupo OnePar (Laserfast)</h1>

    <h2> <a class="nav-link text-dark" asp-area="" asp-controller="Empresa" asp-action="Index">Empresas</a> </h2>
</div>
